:root {
  --main-color: #212121;
  --paragraph-color: #757575;
  --changes-color: #2196F3;
  --fon-color: #FFFFFF;
}

body {
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0px;
}

h1, h2, h3, p, ul {
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  margin: auto;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  color: var(--fon-color);
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 44px;
  }
}

button {
  background-color: var(--changes-color);
  color: var(--fon-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0px auto;
  margin-top: 30px;
  cursor: pointer;
}

a {
  padding: 0;
  border: 0;
  text-decoration: none;
}

.conteiner {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section {
  padding-bottom: 94px;
}

textarea {
  resize: none;
}

.advences__hide, .modal-form__chekbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: hidden;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__conteiner {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header__conteiner {
    width: 100%;
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .header__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__conteiner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header .nav__contakt {
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .header .nav__contakt {
    font-size: 14px;
  }
}

.logo {
  color: var(--fon-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__text {
  color: var(--changes-color);
}

@media screen and (max-width: 768px) {
  .nav__logo {
    padding: 16px 0px;
  }
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 93px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 480px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav {
    width: 100%;
    max-width: 767px;
  }
}

.nav__color {
  color: var(--main-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .nav__line {
  margin-right: 50px;
}
.nav__line:last-child {
  margin-right: 0px;
}

.nav .current {
  color: var(--changes-color);
}

.nav__button {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  fill: var(--paragraph-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__button:hover, .nav__button:focus {
  color: var(--changes-color);
  fill: var(--changes-color);
}

.nav__contakt .nav__button {
  padding: 0;
  padding-top: 10px;
}
@media screen and (max-width: 1199px) {
  .nav__contakt .nav__button:first-child {
    padding-top: 0px;
  }
}

.nav__contakt {
  color: var(--paragraph-color);
}
@media screen and (max-width: 767px) {
  .nav__contakt {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav__contakt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__icon {
  margin-right: 10px;
}

.nav.nav__color .current::before {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  bottom: 0;
  width: 49px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--changes-color);
}

@media screen and (min-width: 1200px) {
  .nav__contakt .nav__line + .nav__line {
    margin-left: 30px;
  }
}

.nav.nav__link .current::before {
  position: absolute;
  display: inline-block;
  content: "";
  right: 40%;
  bottom: 0;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--changes-color);
}

.button-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.nav__button-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button-menu .button-menu__close {
  display: none;
}

.button-menu is-open .button-menu__close {
  display: block;
}

.button-menu is-open .button-menu__open {
  display: none;
}

.section__main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: #2F303A;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0))), url(../images/studio/Img_13.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0)), url(../images/studio/Img_13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolutoin: 2dppx), (min-resolutoin: 192dpi) {
  .section__main {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0))), url(../images/studio/Img_13@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0)), url(../images/studio/Img_13@2x.jpg);
  }
}

.main {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1199px) {
  .main {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.main__text {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .main__text {
    line-height: 1.61;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .main__text {
    max-width: 696px;
  }
}

.main__button {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main__button:hover, .main__button:focus {
  background-color: #188CE8;
}

.section__advences {
  padding-top: 94px;
}
@media screen and (max-width: 1199px) {
  .section__advences {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .feature__blok {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__blok {
    width: 100%;
  }
}

.feature__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin: 0;
  height: 120px;
  width: 100%;
  max-width: 270px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .feature__svg {
    width: 100%;
    max-width: 1200px;
  }
}

.feature__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: start;
  }
}

.feature__paragraph {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (max-width: 768px) {
  .feature__paragraph {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 1199px) {
  .section__debvelopment {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .develepment {
    display: none;
  }
}

.development__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .development__title {
    display: none;
  }
}

.development-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .development-card {
    display: none;
  }
}

.development__development-card {
  margin-top: 50px;
}

.development-card__product {
  margin-right: 30px;
  position: relative;
}

.development-card__block {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--fon-color);
  font-size: 14px;
  line-height: 1.14;
}

.development-card__block h3 {
  font-size: 14px;
  line-height: 1.14;
}

.section__team {
  background-color: #F5F4FA;
}
@media screen and (max-width: 1199px) {
  .section__team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    padding-top: 94px;
  }
}

.team-card {
  margin-top: 30px;
}
@media screen and (min-width: 767px) {
  .team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0, -15px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
  }
}

.team-card__people {
  text-align: center;
  background-color: var(--fon-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .team-card__people:nth-child(n+4) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .team-card__people {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
  .team-card__people:nth-child(n+3) {
    margin-bottom: 0px;
  }
  .team-card__people:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__people {
    width: 100%;
    margin-bottom: 0px;
  }
  .team-card__people:nth-child(n+1) {
    margin-right: 30px;
  }
  .team-card__people:last-child {
    margin-right: 0px;
  }
}

.team-card__img {
  padding-top: 30px;
}

.team-card__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-card__paragraph {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.71;
}

.team__card-social {
  padding-top: 16px;
  padding-bottom: 24px;
}

.card-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-social__blok {
  margin-right: 10px;
}
.card-social__blok:last-child {
  margin-right: 0px;
}

.card-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0px;
  background-color: var(--fon-color);
  fill: #afb1b8;
  padding: 0px;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: fill 950ms cubic-bezier(0.4, 0, 0.2, 1), background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 950ms cubic-bezier(0.4, 0, 0.2, 1), background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-social__link:hover, .card-social__link:focus {
  background-color: #188CE8;
  fill: var(--fon-color);
}

.card-social__blok--dark {
  background-color: #3f3f42;
  fill: var(--fon-color);
}

@media screen and (max-width: 1199px) {
  .section__client {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .client__icon {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .client__img {
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .client__img:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .client__img {
    width: calc((100% - 90px) / 3);
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .client__img:nth-child(3n+3) {
    margin-right: 0px;
  }
  .client__img:nth-child(n+4) {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .client__img {
    margin-right: 30px;
  }
  .client__img:last-child {
    margin-right: 0px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  padding: 0;
  fill: #afb1b8;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  padding: 0;
  border: 0px;
  border: 1px solid var(--changes-color);
  fill: var(--changes-color);
}
@media (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link :last-child {
  margin-right: 0px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
}
@media (max-width: 1199px) {
  .footer {
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__block {
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__block {
    text-align: start;
  }
}

@media (max-width: 1199px) {
  .footer .nav__line {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer .nav__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer .nav__logo {
  margin: 0;
}

.footer-address__block {
  margin-bottom: 60px;
}

.logo__footer-address {
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .logo__footer-address {
    text-align: start;
  }
}

.footer-address__link {
  margin-bottom: 9px;
}

.footer-address__button {
  color: var(--fon-color);
  font-weight: 400;
  line-height: 1.71;
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__button:hover, .footer-address__button:focus {
  color: var(--changes-color);
}
.footer-address__button.connect {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__button.connect:hover, .footer-address__button.connect:focus {
  color: var(--changes-color);
}

@media (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-social__text {
  font-size: 14px;
  line-height: 1.14;
  color: var(--fon-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-social__text {
    text-align: start;
  }
}

.footer-social__card-social {
  margin-bottom: 60px;
}

.footer-social__input {
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  color: #757575;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .footer-social__input {
    width: 100%;
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .footer-social__input {
    width: 358px;
  }
}

.footer-social__blok {
  position: relative;
  display: block;
}

.footer-social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  padding: 10px 0px 10px 29px;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .footer-social__button {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.footer-social__icon {
  position: absolute;
  fill: #EEEEEE;
  top: 40%;
  right: 30%;
  -webkit-transform: translate(-20%, -10%);
          transform: translate(-20%, -10%);
}
@media (min-width: 768px) {
  .footer-social__icon {
    right: 40%;
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
  }
}
@media (min-width: 1200px) {
  .footer-social__icon {
    top: 50%;
    right: 28px;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: opacity 900ms cubic-bezier(0.4, 0, 0.2, 1), visibility 800ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 900ms cubic-bezier(0.4, 0, 0.2, 1), visibility 800ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 900ms cubic-bezier(0.4, 0, 0.2, 1), visibility 800ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 900ms cubic-bezier(0.4, 0, 0.2, 1), visibility 800ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__is-hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 581px;
  height: 100%;
  background: var(--fon-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 100%;
    max-width: 528px;
    margin: 0;
  }
}

.modal__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 0;
  margin-top: 0px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--fon-color);
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: var(--changes-color);
}

.modal-form__block {
  padding: 0 40px;
}

.modal-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  padding: 40px 40px 12px 40px;
  line-height: 1.17;
}

.modal-form__lable {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  color: var(--paragraph-color);
}

.modal-form__link {
  position: relative;
  color: var(--paragraph-color);
}
.modal-form__link textarea {
  padding: 12px 16px;
  height: 100%;
  max-height: 120px;
}

.modal-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus-visible, .modal-form__input:focus {
  border: 1px solid #2196F3;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__terms {
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .modal-form__terms {
    font-size: 12px;
  }
}

.modal-form__chekbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.modal-form__chekbox-svg {
  display: inline-block;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  -webkit-transition: border 700ms cubic-bezier(0.4, 0, 0.2, 1), background-color 700ms cubic-bezier(0.4, 0, 0.2, 1), background-image 700ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 700ms cubic-bezier(0.4, 0, 0.2, 1), background-color 700ms cubic-bezier(0.4, 0, 0.2, 1), background-image 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__chekbox-text {
  color: #2196F3;
  text-decoration: underline;
  margin-left: 5px;
}

.modal-form__chekbox-button {
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__chekbox-button:hover, .modal-form__chekbox-button:focus {
  background-color: #188CE8;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--changes-color);
}

.modal-form__chekbox-input:checked + .modal-form__chekbox-svg {
  background-image: url(../images/icon_check.svg);
  background-color: #188CE8;
  border: 0px;
}

.section__portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section__portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .portfolio-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-block__link {
  margin-right: 8px;
}
.portfolio-block__link:last-child {
  margin-right: 0px;
}

.portfolio-block__button {
  color: var(--main-color);
  background-color: #F5F4FA;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 4px;
  letter-spacing: 0.03em;
  -webkit-transition: color 700ms cubic-bezier(0.4, 0, 0.2, 1), background-color 900ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 700ms cubic-bezier(0.4, 0, 0.2, 1), background-color 900ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-block__button:hover, .portfolio-block__button:focus {
  background-color: var(--changes-color);
  color: var(--fon-color);
}

.portfolio-block__button, .pointer {
  cursor: pointer;
}

.portfolio-block .portfolio-block__button {
  display: block;
  padding: 6px 22px;
  margin-top: 0px;
}

.portfolio-block .portfolio-block__button :last-child {
  margin-left: 0px;
}

.portfolio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .portfolio-box {
    margin: -15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-box {
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 1200px) {
  .portfolio__porfolio-box {
    width: 100%;
    max-width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__porfolio-box {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__porfolio-box {
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__porfolio-box {
    margin: 0 auto;
    margin-top: 50px;
  }
}

.portfolio-box__link {
  width: 100%;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-box__link:nth-child(n+9) {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .portfolio-box__link {
    width: 354px;
    margin-right: 30px;
  }
  .portfolio-box__link:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-box__link {
    width: 370px;
  }
  .portfolio-box__link:nth-child(n+1) {
    margin-right: 30px;
  }
  .portfolio-box__link:nth-child(3n+3) {
    margin-right: 0px;
  }
}

.portfolio-box__modal {
  position: relative;
  overflow: hidden;
}

.portfolio-box__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  margin-top: -5px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio-box__description {
    padding: 20px 18px;
  }
}

.portfolio-box__paragraph {
  font-size: 16px;
  line-height: 1.9;
  color: var(--paragraph-color);
}

.portfolio-box__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 6px;
  text-align: start;
}

.portfolio-box__case:hover .potrfolio-box__overley {
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
}

.potrfolio-box__overley {
  position: absolute;
  width: 100%;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  background-color: var(--changes-color);
  color: var(--fon-color);
  left: 0;
  top: 0;
  padding: 63px 20px;
  -webkit-transform: translatey(105%);
          transform: translatey(105%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobail {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: #212121;
  padding: 48px 0 40px 40px;
  font-weight: 500;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobail.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-mobail__button {
  position: absolute;
  background-color: #ffffff;
  top: -5px;
  right: -10px;
  margin: 0;
}
.menu-mobail__button:hover, .menu-mobail__button:focus {
  fill: var(--changes-color);
}

.menu-mobail__link {
  font-size: 40px;
}
.menu-mobail__link:hover, .menu-mobail__link:focus {
  color: var(--changes-color);
}

.menu-mobail__block li {
  margin-bottom: 32px;
}

.menu-mobail__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--changes-color);
  font-size: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-mobail__social li {
  margin-right: 10px;
}
.menu-mobail__social li::after {
  content: "";
  margin-left: 10px;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
}
.menu-mobail__social li:last-child {
  border-right: none;
  margin-right: 0;
}
.menu-mobail__social li:last-child::after {
  content: "";
  border-right: none;
}

.menu-mobail__tel {
  color: var(--changes-color);
  font-size: 34px;
  margin-bottom: 32px;
}

.menu-mobail__mail {
  font-size: 24px;
  color: var(--paragraph-color);
}

.menu-mobail__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-bottom: 64px;
}/*# sourceMappingURL=main.css.map */