.footer {
    background-color: #2F303A; 
    padding-top: 60px;
    @media(max-width: 1199px){
        padding-bottom: 60px;

    }
    
       
}
.footer__tablet{
    @media(min-width: 768px){
         display: flex;
         justify-content: space-between;
        //  padding-left: 76px;
        //  padding-right: 89px;

    }
    
}
.footer__conteiner{
    @media(min-width: 1200px){
        display: flex;
    }
}
.footer__block{
    text-align: center;
    @media(min-width: 1200px){
        text-align: start;
    }

    
}
.footer .nav__line{
    @media(max-width: 1199px){
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media(min-width: 1200px){
        display: flex;
    }

}
.footer .nav__logo{
    margin: 0;
}
.footer-address__block{
    margin-bottom: 60px;

}




.logo__footer-address{
   
    text-align: center;
    margin-top: 20px;
    @media(min-width: 1200px){
        text-align: start;
    }

}

.footer-address__link{
     margin-bottom: 9px;
    
}

.footer-address__button{
    color: var(--fon-color);
    font-weight: 400;
    line-height: 1.71;
    transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
       color:var(--changes-color);
          }

    &.connect{
            color: rgba(255, 255, 255, 0.6);
            transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus{
               color:var(--changes-color);
                  }
        }
        
    
}











