
.modal-form__block{
    padding: 0 40px;
}

.modal-form__text{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 40px 40px 12px 40px;
    line-height: 1.17;
 }

 .modal-form__lable{
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    color: var(--paragraph-color);
}

.modal-form__link{
    position: relative;

    & textarea{
        padding: 12px 16px;
        height: 120px;
        }
}

.modal-form__input{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1) ;

    &:focus-visible,
    &:focus{
       border: 1px solid #2196F3;
           }
}

.modal-form__icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__terms{
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-form__chekbox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
}

.modal-form__chekbox-svg{
    display: inline-block;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 9px;
    transition: 
     border 700ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 700ms cubic-bezier(0.4, 0, 0.2, 1),
     background-image 700ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}

.modal-form__chekbox-text{
    color: #2196F3;
    text-decoration: underline;
    margin-left: 5px;
}

.modal-form__chekbox-button{
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) ;

    &:hover,
    &:focus{
       background-color: #188CE8;
           }
}



.modal-form__input:focus+ .modal-form__icon{
    fill:var(--changes-color);
}


.modal-form__chekbox-input:checked+ .modal-form__chekbox-svg{
    background-image: url(../images/icon_check.svg);
     background-color: #188CE8; 
     border: 0px; 
}







